<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LabStaff{% endblock title %}</title>
<!--    <link rel="import" href="main_table.html">-->
    <link rel="stylesheet" href="{% static 'css/style_v.css' %}" type="text/css">
</head>
<body>
<table id="main_table">
    <tbody>
    <tr id="tr_1">{% block tr1 %}1 row{% endblock tr1 %}</tr>
    <tr id="tr_2">{% block tr2 %}2 row{% endblock tr2 %}</tr>
    <tr id="tr_3">{% block tr3 %}3 row{% endblock tr3 %}</tr>
    <tr id="tr_4">{% block tr4 %}4 row{% endblock tr4 %}</tr>
    </tbody>
</table>
</body>
<footer style="text-align: center">
    <p style="font-size: medium; font-family: Arial; font-style: italic">
        © Савушкин Виталий, 2022
    </p>
</footer>
</html>